<h1>Editing Course</h1>

<% if current_user.type == "Admin" %>
  <%= render 'form', course: @course %>

  <%= link_to 'Show', @course %> |
  <%= link_to 'Back', courses_path %>
<% else %>
  <h4>You do not have permission to view this page</h4>
  <%= link_to 'Home', welcome_path %>
<% end %>


